.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #242b38;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*.App{
  display: flex;
  align-items: center;
  flex-direction: column;
}*/

body {
  background: rgb(30,33,36);
  background: radial-gradient(circle, rgb(72, 118, 187) 0%, rgb(2, 4, 7) 100%);
  color: white;
}

.align-left{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 24px;
}

.align-right{
  text-align: right;
  float: right;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 24px;
}



.box{
  width: 340px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  background-color: #212529;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.enlist {
  margin-top: 260px;
  position: absolute;
  /*padding-top: 20%;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  color: white;
  font-size: medium;
  pointer-events: none;
}

h6 {
  color: white;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 1px;
  padding-bottom: 4px;
  pointer-events: none;
}



button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: transparent;
  color: rgb(247, 247, 247);
  border: 1px solid white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover {
    background-color: white;
    color: rgb(10, 10, 10);
  }

.button:hover span {
  padding-right:20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  /*width: 100%;*/
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.forgotPassword {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.display-linebreak{
  margin-top: 20px;
}


.ingredientBox{
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-size: contain!important;
  padding: 7px;
  width: 12.5%;
  text-align: center;
  display: inline-block;
  position: relative;
}